.card2-event{
    color: white; 
    background-color: blue;
    width: 600px;
    height: 300px;
    padding: 30px 0px 30px 30px;
}

.boton-join{
    width: 100px;
    cursor: pointer;
   
}

button :hover {
    cursor: pointer; 
}

.card-top{
    display: flex; 
    justify-content: space-between;
}


