.card2-event{
    color: white; 
    background-color: blue;
    height: 300px;
    padding: 30px 0px 30px 30px;
}

.boton-join{
    width: 20%;
    cursor: pointer;
    height: 50px;
   
}

#event-cardUserName{
    padding-top: 55px;
    padding-left: 70px;
    color: white; 
    
}

#event-userRow{
    background-color: #05445e;
    width: 573px; 
    border-radius: 20px;
    margin-bottom: 20px;
    
}

#event-userButton{
    padding-left: 180px; 
    margin-top: 40px; 
}

#event-private{
    background-color: #189ab4;
    height: 120vh;
}

#event-private h1{
    color: white; 
    
}