.login-page {
    background-color: rgb(0, 0, 0);
    height: 100vh;
  }
  
  .login-form {
    border-radius: 10px;
    padding: 20px;
    background-color: #b5c0d0;
  }
  
  .login-form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    /* marginRight: 200px; No se necesita este estilo */
  }
  
  .login-form button {
    border-radius: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .login-form form {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-form form input {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .login-form .text-muted {
    margin-left: 10px;
    font-size: 10px;
    margin-bottom: 80px;
  }
  
  .login-form button[type="submit"] {
    border-radius: 20px;
    background-color: #ededed;
    color: #ededed;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
  }
  