/* .container-password {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  } */
  
  .recovery-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recovery-password-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    margin-block: 20px;
  }
  
  .recovery-password-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px; 
  }
  
  