
  .recover-page {
    background-color: rgb(0 , 0 , 0);
    height: 100vh; 
    display: flex;
    justify-content: center;
  }

  .recover-form {
    margin-top: 150px; 
    border-radius: 10px;
    padding: 20px;
    background: #46494f; 
    width: 400px;
    height: 320px;
  }

  h2 {
    color: #fff; 
    text-align: center; 
    margin-bottom: 20px; 
    margin-inline: auto;
  }

  button {
    border-radius:  20px ; 
    margin-bottom:  20px ; 
    width:  100% ; 
    max-width:  300px ; 
    margin-left:  auto ; 
    margin-right:  auto ; 
    display:  block 
  }

  form {
    width:  100%; 
    max-width:  300px; 
    margin-left:  auto; 
    margin-right:  auto;  
  }

  input {
    border-radius: 10px; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center; 
  }

 .message {
  color: white; 
  text-align: center; 
  font-size: 20px;
 }